<a href="https://colab.research.google.com/github/agabrielabarros/Estudo-Teste-do-Colab/blob/main/Reprograma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Primeiro contat com o Colab**: =D

In [23]:
texto = "Oi, mundo!"
print(texto)

Oi, mundo!

**Varíavel é qualquer coisa que eu queira atribuir um valor**
Variavel nunca tem espaço, sempre colocamos _

In [24]:
Numero = 1
#variavel e valor
print (Numero)

1

**Quando o valor atríbuido a uma variável é um número, NÃO peciso colocar entre aspas**
 - Podemos somar número inteiro e float

In [17]:
numero1 = 10
numero2 = 20
print (numero1+numero2)
print (numero1-numero2)
print (numero1/numero2)
print (numero1*numero2)
print (numero1%numero2)

30
-10
0.5
200
10

In [21]:
idade = 31 #int (inteiro)
temperatura = 36.7 #float (numero quebrado)

soma = idade + temperatura
print (soma)
print (type (soma))

67.7
<class 'float'>

**Quando o valor atribuido é um texto, preciso colocar entre aspas** ""texto em itálico

Para saber o tipo do variável use o cód: print (type (nome da variável))

Quando você soma dois textos (strings), ela junta o texto

In [28]:
texto1 = "sol "
texto2 = "lua "
print (type (numero3))

texto = texto1 + texto2
print(texto)

<class 'str'>
sol lua

**BOOLEANO - verdadeiro ou falso (uma condição)**

In [31]:
eh_maior_de_idade = True
tem_ID = True
Pode_dirigir = eh_maior_de_idade and tem_ID
print(Pode_dirigir)

False

**Consigo somar quando quero colocar texto e número? Em regra Não**
Temos que atribuir ao número umas aspas para transformar aquele número em texto, para ficar tudo string

Mas é possível usar funções em python, transformando as váriáveis e tbm usar funções como no excel, para termos ex: min (1,2,3,4) = 4

In [32]:
int("5") # Essa função faz com que a o texto 5 se converta para número inteiro

5

**CONDICIONANTES**

O sistema só vai parar quando encontrar a condição verdadeira. Então ele pode passar por várias condições até achar a verdadeira e mostrar o resultado.

In [35]:
#Confidionantes if: SE

if 1>0:
  print("Uhuul")

Uhuul

In [38]:
#Condicionantes else: SENÃO
if 1<0:
  print("Uhuul")
else:
  print("=C")

=C

In [42]:
#Condicionantes elif: SENÃO, E SE
if 1 < 0:
  print("Uhuul")
elif 1 > 0:
  print("agora sim")

agora sim

In [43]:
#Condicionantes elif: SENÃO, E SE
if 1 < 0:
  print("Uhuul")
elif 1 == 0:
  print("agora sim")
else:
  print("=C")

=C

**AGORA VAMOS PRATICAR**

In [ ]:
#passando por várias condições para achar a certa
num1=1
num2=2

if num1 < 0: