<a href="https://colab.research.google.com/github/agabrielabarros/Estudo-Teste-do-Colab/blob/main/Reprograma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
texto = "Oi, mundo!"
print(texto)

Oi, mundo!

**Varíavel é qualquer coisa que eu queira atribuir um valor**

In [5]:
Numero = 1
print (Numero)

1

**Quando o valor atríbuido a uma variável é um número, NÃO peciso colocar entre aspas**
 - Podemos somar número inteiro e float

In [17]:
numero1 = 10
numero2 = 20
print (numero1+numero2)
print (numero1-numero2)
print (numero1/numero2)
print (numero1*numero2)
print (numero1%numero2)

30
-10
0.5
200
10

In [21]:
idade = 31 #int (inteiro)
temperatura = 36.7 #float (numero quebrado)

soma = idade + temperatura
print (soma)
print (type (soma))

67.7
<class 'float'>

**Quando o valor atribuido é um texto, preciso colocar entre aspas** ""texto em itálico

Para saber o tipo do variável use o cód: print (type (nome da variável))

In [22]:
numero3 = "sol"
numero4 = "lua"
print (type (numero3))

<class 'str'>